<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru">
    <head>
        <meta http-equiv=Content-Type content="text/html; charset=windows-1251">
        <title>[% title %] [% subtitle %]</title>
    </head>
    <body style="font-size:4em">
        [% paragraphs %]
        [% between_pages_navigation %]
    </body>
</html> 
